language: r

# install latex
before_install:
  # - tlmgr install scheme-full
  - tlmgr install marginnote
  - tlmgr install listings
  - tlmgr install fancyhdr
  - tlmgr install geometry
  - tlmgr install titlesec
  - tlmgr install fontawesome

# - sudo apt-get -qq update && sudo apt-get install -y --no-install-recommends latexmk
#   texlive-fonts-extra texlive-fonts-recommended texlive-latex-base texlive-latex-extra
#   texlive-latex-recommended texlive-xetex lmodern

# create the _build directory
# compile the LaTeX files and save the PDF in _build
script:
- mkdir _build
- latexmk -xelatex -pdf -outdir=_build lab01/cs100F2018_lab01.tex

# securely deploy the PDFs to the specified tag on GitHub
# GitHub's web site provides "releases" as a link near "commits"
deploy:
  provider: releases
  api_key:
    secure: utZHK+BVk6fhK2mwGnFInPpwqb8U3zpreAqbJykCBT7hc3w8MrWN80rQTHHymOweE17PE2zCYaqo3n44qE8V13IDJoZIi1VxXR0/iDtY0ufbGHk3niO0B+hbqCWXjRvkXU8ZqjYqTzyWtD/x/lLOMMTFowgfga5VSKKzn0AQbCNqMhXakHfb+KRIYNEMGoASODj8oIRbvxQJQbwFw8QZdIsdylk559S7DevO5eMLhXr8x1nfE3LkoQCJeq62rieeCTHGACRpB6R9qGd1CaEwSH8agW26GPvm60YjfvTlxquKLO2gT85OyJ4th0oZK4J+BcnTfVVQudt2mH/boyvQMsPNpN5u0r6Af1n5yR1iYRLXdjZVNwGCeVcZQAJ5UoT7YuYjtsuH8PwgD5057NUJz2sNZ6pqCStBZLpHErL+oivIPKjYAVQF2nzeTMOnOSloQEe5rIACWxFwLGV5C8dPw8CYlaWyHV7rvmt2HN66T6rvGAmtd5JBCCHyKa0BEwBxPcYz9dFueR++03ZMxhE5/3lXBGbjR7tu3Ewrpr61TbLmZbP/2KIdj9dWOY+XJCdbsj2MK0FXKmS1suqWO9WZ4uM5wLpDs0hYBaF6hc0McZUifQUJ1TPyx/egvEGRp2Ys1d3tKBNwpn+zBKmn5BgwQW8hS6Pj341X/J9ENkkqYJw=
  file:
    - _build/cs100F2018_lab01.pdf
  skip_cleanup: true
  on:
    tags: true
